@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Bricolage Grotesque", sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://assets-global.website-files.com/6580d1883c8fa1a3c4e6e3fd/6581e5692af10e91b25706e1_dotted%20pattern.svg");
  background-color: #fff;
  color: #101010;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
