@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Bricolage Grotesque", sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://assets-global.website-files.com/6580d1883c8fa1a3c4e6e3fd/6581e5692af10e91b25706e1_dotted%20pattern.svg");
  background-color: #fff;
  color: #101010;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.chip:hover > img {
  filter: invert();
  transition: 0.7s;
}
.curve--line-1 {
  animation: move1 infinite ease-in 10s;
}
@keyframes move1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.curve--line-2 {
  animation: move2 infinite ease-in 6s;
}
@keyframes move2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
